<div class="top-row ps-3 navbar navbar-dark custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">e-Scrap</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="refrigerator/Altex">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Altex Refrigerator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gas-cooker/Altex">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Altex Gas Cooker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wash-machine/Altex">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Altex Wash Machine
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="refrigerator/EMag">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> eMag Refrigerator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gas-cooker/EMag">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> eMag Gas Cooker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wash-machine/EMag">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> eMag Wash Machine
            </NavLink>
        </div>

    </nav>
</div>

