@page "/"

<PageTitle>Home</PageTitle>

<div class="product-list">
    <h3 class="category-heading">Mobila</h3>
    @* <hr class="category-divider" /> *@
    <div class="category-items">
        @foreach (var category in HouseMobileCategory)
        {
            <a href="@category.Value" target="_self" rel="noopener noreferrer" class="product-link">
                <div class="product-card">
                    <p><strong>@category.Key</strong></p>
                </div>
            </a>
        }
    </div>

    <hr class="category-divider" />

    <h3 class="category-heading">Tehnologie</h3>
    @* <hr class="category-divider" /> *@
    <div class="category-items">
        @foreach (var category in TechnologyCategory)
        {
            <a href="@category.Value" target="_self" rel="noopener noreferrer" class="product-link">
                <div class="product-card">
                    <p><strong>@category.Key</strong></p>
                </div>
            </a>
        }
    </div>
</div>

@code
{
    Dictionary<string, string> HouseMobileCategory = new();
    Dictionary<string, string> TechnologyCategory = new();
    protected override async Task OnInitializedAsync()
    {
        HouseMobileCategory.Add("Frigidere", "/refrigerator");
        HouseMobileCategory.Add("Aragazuri", "/gas-cooker");
        HouseMobileCategory.Add("Plite incorporabile", "/gas-cooker-embedded");
        HouseMobileCategory.Add("Cuptor", "/oven");
        HouseMobileCategory.Add("Hote", "/hood");
        HouseMobileCategory.Add("Masini de spalat", "/wash-machine");

        TechnologyCategory.Add("Telefoane", "/phones");
        TechnologyCategory.Add("Laptopuri", "/laptops");
    }
}
