@page "/"

<PageTitle>Home</PageTitle>

<div class="product-list">

    @foreach (var category in Category)
    {
        <div class="product-card">
            <p><strong>@category.Key</strong></p>
            <a href="@category.Value" target="_self" rel="noopener noreferrer">Mergi la @category.Key</a>
        </div>
    }
</div>


@code
{
    Dictionary<string, string> Category = new();
    protected override async Task OnInitializedAsync()
    {
        Category.Add("Frigidere", "/refrigerator");
        Category.Add("Aragazuri", "/aragazuri");
    }

}
